# Dependencies
node_modules
npm-debug.log*

# Test results and reports
test-results
playwright-report

# Build outputs
dist

# Git
.git
.gitignore

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
*.tmp
*.temp
